---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Icons">
  <main>
    <h1>Icons</h1>
    <h2>
      Icons by
      <a target="_blank" href="https://icons8.com">
        Icons8
      </a>
    </h2>
    <ul>
      <li>
        <a target="_blank" href="https://icons8.com/icon/Gr9Hk0UxLDFn/eliminar">Eliminar icon</a> 
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/xDBlwMuXqAn0/actualizar">Actualizar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/0DJs1m5Wz0Yn/reiniciar">Reiniciar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/ifMVi1WVk8u2/sincronizar">Sincronizar icon</a> 
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/Zy5ghkQj2rKy/marca-de-verificaci%C3%B3n">Marca de verificación icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/XLYyiimvk3fV/basura">Basura icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/3fxG1r3aX8Qo/lazo-marcap%C3%A1ginas">Lazo marcapáginas icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/TA1dhLHUqFQV/foto">Foto icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/CKtPhNMyI8bF/abrir-carpeta">Abrir carpeta icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/MQUrzsTq4kA3/carpeta">Carpeta icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/Vps0Nsl80v4P/carpeta">Carpeta icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/DVzc1vi8FDJt/documento">Documento icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/faXHmzlIKEVi/cancelar">Cancelar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/kDMAGBvpqAyW/bloquear">Bloquear icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/iGidkirNyDn6/desbloquear">Desbloquear icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/AefXIkx4A693/de-acuerdo">De acuerdo icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/IQwdXd0kulpV/editar">Editar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/AmjB9UaIooPa/informaci%C3%B3n">Información icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/ENnOHjouCZur/paypal">PayPal icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/lMhEFosNBRbT/carrito-de-compras">Carrito de compras icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/UUgYZvYwoZrF/a%C3%B1adir">Añadir icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/cnDcRP3O64a9/descargar">Descargar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/fvKS3AKw1AyE/engranaje">Engranaje icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/DM2tYcMgDzyn/guardar">Guardar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/C63oseheHa1Z/subir">Subir icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/MR3dZdlA53te/linkedin">LinkedIn icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/LoL4bFzqmAa0/github">GitHub icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/D2NqKl85S8Ye/logotipo-de-la-discordia">Logotipo de la discordia icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/KxHlias9AgZt/twitter-circled">Twitter Circled icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/xPX4qmtKvtBp/enlazar">Enlazar icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/492ILERveW8G/usuario-masculino-en-c%C3%ADrculo">Usuario masculino en círculo icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/mjM8GWhSG19P/usuario-femenino">Usuario femenino icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/YtnFdkYn0RsE/usuario-masculino">Usuario masculino icon</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/TYZP6liMd2uZ/c%C3%B3digo-qr">Código QR</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </li>
      <li>
        <a target="_blank" href="https://icons8.com/icon/uZrQP6cYos2I/chatbot">Chatbot</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </li>
    </ul>
  </main>
</Layout>