@import "./Hero.responsive.postcss";

.hero {
  @apply w-full
  px-4
  pt-24
  pb-10
  md:px-6
  md:pt-40
  md:pb-16
  lg:px-8
  lg:pt-44
  lg:pb-32
  xl:px-16
  min-h-screen;
  &__title {
    @apply text-center h1;
  }
}
